.icon {
    color: #cccccc;
    font-size: 48px;
}

.icon-name {
    color: #b2b2b2;
    font-family: "Arial";
    font-size: 14px;
}

.icon-container {
    cursor: pointer;
}

.icon-container > fx-background {
    background-color: #1A1A1A;
    border-radius: 15px;
}

.icon-container:hover > fx-background {
    background-color: #303030;
}

.icon-container.selected > fx-background {
    background-color: #333333;
}

.icon-container.selected > fx-border {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #CCCCCC;
}